<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/sophiachiang.com">Home</a></li>
		        	<li><a href="/sophiachiang.com/about">About</a></li>
	        		<li><a href="/sophiachiang.com/music">Music</a></li>
              			<li><a href="/sophiachiang.com/art">Art</a></li>
              			<li><a href="/sophiachiang.com/travel">Travel</a></li>
              			<li><a href="/sophiachiang.com/sport">Sport</a></li>
              			<li><a href="/sophiachiang.com/resume">Resume</a></li>
	        		<li><a href="/sophiachiang.com/blog">Blog</a></li>
              			<li><a href="/sophiachiang.com/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.facebook.com/profile.php?id=100010167162397&ref=br_rs">Facebook</a></li>
	        		<li><a href="https://github.com/nicholaschiang">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
