<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/music">Music</a></li>
              <li><a href="/art">Art</a></li>
              <li><a href="/travel">Travel</a></li>
              <li><a href="/sport">Sport</a></li>
              <li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.facebook.com/profile.php?id=100010167162397&ref=br_rs">Facebook</a></li>
	        		<li><a href="https://github.com/nicholaschiang">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
